<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Note #1</title>

    <!-- Core CSS - Include with every page -->
    <link href="../public/css/Framework/bootstrap.min.css" rel="stylesheet">

    <!-- Page Level CSS - Include with every page -->
    <link href="../public/css/homepage.css" rel="stylesheet">
    <link href="../public/font-awesome/css/font-awesome.css" rel="stylesheet">


<!--     Core CSS - Include with every page
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="font-awesome/css/font-awesome.css" rel="stylesheet">

Page-Level Plugin CSS - Dashboard
<link href="css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">
<link href="css/plugins/timeline/timeline.css" rel="stylesheet"> -->

<!-- SB Admin CSS - Include with every page -->
<link href="../public/css/sb-admin.css" rel="stylesheet">
</head>

<body>

    <div id="wrapper" style="position: fixed">

        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                </button>
                <a class="navbar-brand" href="#top_page" style="color:white"><img src="img\homepage\echonotes-logo.png" height=31.33 width=16.67> Echonotes</a>
            </div>
        </nav>
        <nav class="navbar-toolbar" role="navigation" style="margin-bottom: 0">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    File
                </a>
                <ul class="dropdown-menu dropdown-messages">
                    <li>
                        <a href="#">
                            <div>New</div>        
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            Open
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            Save
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            Save as...
                        </a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Edit
                </a>
                <ul class="dropdown-menu dropdown-tasks">
                    <li>
                        <a href="#">
                            <div>New</div>        
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            Open
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            Save
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            Save as...
                        </a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Share
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li>
                        <a href="#">
                            <div>New</div>        
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            Open
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            Save
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            Save as...
                        </a>
                    </li>
                </ul>
            </li>
        <!-- </nav>
            <nav class="navbar-toolbar" role="navigation" style="margin-bottom: 0"> -->
                <li class="divider"></li>
                <div class="navbar-title">
                    ALGOCOM - Master's Method
                </div>
                <a class="navbar-play" href="#">
                    <i class="fa fa-play fa-fw"></i>
                </a>
                <li class="divider"></li>
            </nav>
        </div>


        <!-- Core Scripts - Include with every page -->
        <script src="js/jquery-1.10.2.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>

        <!-- Page-Level Plugin Scripts - Dashboard -->
        <script src="../public/js/plugins/morris/raphael-2.1.0.min.js"></script>
        <script src="../public/js/plugins/morris/morris.js"></script>

        <!-- SB Admin Scripts - Include with every page -->
        <script src="../public/js/sb-admin.js"></script>

        <!-- Page-Level Demo Scripts - Dashboard - Use for reference -->
        <script src="../public/js/demo/dashboard-demo.js"></script>

    </body>

    </html>
